.view-create-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-post ul {
    list-style-type: none;
}

#create-post ul li {
    display: inline;
}

.paragraph-button {
    background: #122b4ba1;
    width: 90%;
    margin: 1em;
}

.textarea-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#view-create-post article {
    padding: 1em 0 0 0;
}

#view-create-post textarea {
    margin: .5em 0em;
    width: 90%;
}

#view-create-post form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#view-create-post form nav {
    width: 100%;
}

#view-create-post form nav button{
    width: 15%;
}