input {
    display: block;
    font-size: 50px;
    width: 95%;
}

#edit-post ul {
    list-style-type: none;
}

#edit-post ul li {
    display: inline;
}

textarea {
    width: 95%;
}

.divider {
    width: 95%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}

