.view-edit-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    font-size: 2em;
    padding: .25em;
    border: .1em solid #ccc;
    border-radius: 4px;
}

textarea {
    font-family: Roboto;
    font-size: 1em;
    margin: 0 auto;
    width: 90%;
    resize: none;
}

#edit-post ul {
    list-style-type: none;
}

#edit-post ul li {
    display: inline;
}

.divider {
    width: 95%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}

