.view-edit-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    font-size: 2em;
    padding: .25em;
    margin-bottom: .5em;
    border: .1em solid #ccc;
    border-radius: 4px;
}

textarea {
    font-family: Roboto;
    margin: .5em 0em;
    font-size: 1em;
    margin: 0 auto;
    width: 90%;
    resize: none;
}

#edit-post ul {
    list-style-type: none;
}

#edit-post ul li {
    display: inline;
}

.divider {
    width: 95%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}

.view-edit-post article {
    padding: 1em 0 0 0;
}

.view-edit-post textarea {
    margin: .5em 0em;
    width: 90%;
}

.view-edit-post form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-edit-post form nav {
    width: 100%;
}

.view-edit-post form nav button{
    width: 10em;;
}

.view-edit-post .date {
    color: #727272;
    align-self: flex-start;
    margin: .25em 1.5em;
}

@media only screen and (max-width: 940px) {
    article button {
        width: 8em;
    }
}

@media only screen and (max-width: 800px) {
    #detail-post .title {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 740px) {
    article button {
       font-size: .75em;
    }
    .view-edit-post .date {
        font-size: .8em;
    }
}

@media only screen and (max-width: 700px) {
    article button {
        font-size: .65em;
    }
}

@media only screen and (max-width: 570px) {
    article button {
        font-size: .5em;
    }
    #detail-post .title {
        font-size: 1em;
    }
    .view-edit-post .date {
        font-size: .65em;
    }

}