@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
/* #00C9B6FF */

body {
    font-family: 'Fira Sans', sans-serif;
    background: #FF8008;  /* fallback for old browsers */
    background: #f1f1f1;
    margin: 0;
}


article button {
    cursor: pointer;
    border-radius: 10em;
    letter-spacing: .05em;
    font-weight: 100;
    width: 10em;
    height: 2em;
    border: none;
    color: white;
    /*background: linear-gradient(147deg, #8e8e8e 0%, #676565 74%);*/
    background: linear-gradient(147deg, #337ab7 0%, #256398 74%);
}



article button:hover {
    background: #153756;
}

.post-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 2em;
}

article {
    flex: 1;
    background-color: white;
    border-radius: 1.5em;
    width: 70%;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    padding-top: .5em;
    padding-bottom: 1em; 
    padding-left: 2em;
    box-shadow: 0em 0em .5em #313131;
    transition: width .25s linear;
}

.overview-posts article:hover {
    width: 75%;
}

.overview-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3.5em;
    padding-top: .25em;
    padding-bottom: .25em;
    margin: 1.5em 0em 1em 0em;
    color: rgb(9, 38, 51);
    border-top: .05em solid #00000036;
    border-bottom: .05em solid #00000036;
}

.overview-posts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.overview-posts .overview-nav {
    position: fixed;
    right: 3em;
    bottom: 3em;
    padding: none;
}

.fa-pen {
    cursor: pointer;
    color:white;
    background-color: rgb(9, 38, 51);
    font-size: 1.5em;
    border-radius: 50%;
    padding: 1em;
}

.fa-pen:hover {
    background-color: #728195;
}

.overview-posts ul li {
    display: inline;
    margin-right: .5em;
}

.overview-post ul {
    padding: 0;
}

.overview-post p {
    color: #464646;
    line-height: .75em;
}

.overview-post .title {
    color: #2b2b2b;
    line-height: .15em;
    font-size: 2.25em;
    font-weight: bold;
}

.overview-post .divider {
    width: 95%;
    height: .125em;
    background-color: rgb(200, 200, 200);
}



@media only screen and (max-width: 940px) {
    article button {
        width: 8em;
    }
}

@media only screen and (max-width: 800px) {
    .overview-post .title {
        font-size: 1.5em;
    }

    .fa-pen {
        font-size: 1.25em;
    }

    .overview-posts .overview-nav {
        right: 2em;
        bottom: 2em;
    }
}

@media only screen and (max-width: 740px) {
    article button {

        font-size: .75em;
    }

    .overview-posts .overview-nav {
        right: 1em;
        bottom: 1em;
    }
}

@media only screen and (max-width: 700px) {
    article button {

        font-size: .65em;
    }
}

@media only screen and (max-width: 570px) {
    article button {
        font-size: .5em;
    }

    .overview-post .title {
        font-size: 1em;
    }

    .post-info {
        font-size: .75em;
    }

    .overview-posts .overview-nav {
        right: 0em;
        bottom: .5em;
    }
}