@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
/* #00C9B6FF */

body {
    font-family: 'Fira Sans', sans-serif;
    background: #FF8008;  /* fallback for old browsers */
    background: #f1f1f1;
    margin: 0;
}


article button {
    cursor: pointer;
    border-radius: 10em;
    letter-spacing: .05em;
    font-weight: 100;
    width: 15%;
    height: 2em;
    border: none;
    color: white;
    /*background: linear-gradient(147deg, #8e8e8e 0%, #676565 74%);*/
    background: linear-gradient(147deg, #337ab7 0%, #256398 74%);
}

article button:hover {
    background: #153756;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 2em;
}

article {
    background-color: white;
    border-radius: 1.5em;
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    padding-top: 10px;
    padding-bottom: 20px; 
    padding-left: 30px;
    box-shadow: 0em 0em .5em #313131;
}

.overview-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: rgb(9, 38, 51);
    border-top: .05em solid #00000036;
    border-bottom: .05em solid #00000036;
}

.overview-posts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.overview-posts .overview-nav {
    position: fixed;
    right: 3em;
    bottom: 3em;
    padding: none;
}

.fa-pen {
    cursor: pointer;
    color:white;
    background-color: rgb(9, 38, 51);
    font-size: 1.5em;
    border-radius: 50%;
    padding: 1em;
}

.overview-posts ul li {
    display: inline;
    margin-right: 5px;
}

.overview-post ul {
    padding: 0;
}

.overview-post p {
    color: #464646;
    line-height: 10px;
}

.overview-post .title {
    color: #2b2b2b;
    line-height: 1px;
    font-size: 40px;
    font-weight: bold;
}

.overview-post .divider {
    width: 95%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}



